@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
:root{
    --primary-color:#000;
    --secondary-color:#fff;
}
html.dark{
    --primary-color:#fff;
    --secondary-color:#333;
}

html.dark{
    background-color: #111;
    color: var(--primary-color);
}

/*
html{
	position:static;
*/
#clockdiv{
	margin-top:5px;
	max-width:100%;
	min-width:140px;
    transition: all 0.5s ease-in;
    font-family: 'Roboto', sans-serif;
    /*
    display: flex;
    justify-content: center;
    */
    justify-content: left;
    align-items: left;
    height: 200px;
    overflow: hidden;
    margin: 0;
}


.toggle{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius:4px;
    padding: 5px 12px 5px 12px;
    position: absolute;
    top:30px;
    right:5%;
}

.toggle:focus{
    outline: none;
}

.clock-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock{
    position: relative;
    width: 110px;
    height: 110px;
    /* 
    background-color: lightgrey; 
    */
}

.needle{
    background-color:var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    /* transition: all 0.5s ease-in-out; */
}

.needle.hour{
    transform: translate(-50%, -100%) rotate(0deg);
    height:45px;
}

.needle.minute{
    transform: translate(-50%, -100%) rotate(0deg);
    height: 55px;
}
.needle.second{
    transform: translate(-50%, -100%) rotate(0deg);
    height: 50px;
    background-color: #e74c3c;
}

.center-point{
    background-color:#e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.center-point::after{
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.time{
	padding-top:5px;
    font-size: 25px;
}

.date{
    color: #aaa;
    font-size:14px;
    letter-spacing:0.3px;
    text-transform: uppercase;
}

.date .circle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
}